body {
  margin: 0px;
  background-color: black;
  color:white;
}

footer{
  background-color: #D7331D;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a{
  margin: 3px;
  color: white;
}

nav{
  background-color: #45018D;
}

.textcolor{
  color: white;
}
.media{
  margin-top: 25px;
  border: solid white 0.1px;
  padding: 20px;
}

.mycontent{
  padding-top: 20px;
  padding-bottom: 60px;
}
/* .media-body{
  float: left;
  margin-left: 0px;
} */

            /* ----- small screen devices -------- */

@media (max-width:550px){
  .media{
    overflow: auto;
  }
}
