body {
  margin: 0px;
  background-color: rgb(14, 13, 13);
  color:white;
}

footer{
  background-color: #D7331D;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a{
  margin: 2px;
  color: white;
}

nav{
  background-color: #4b0794;
}

.textcolor{
  color: white;
}
.media{
  margin-top: 25px;
  border: solid white 0.1px;
  padding: 20px;
}

.mycontent{
  padding-top: 20px;
  padding-bottom: 60px;
}


            /* ----- small screen devices -------- */

@media (max-width:550px){
  .media{
    overflow: auto;
  }
}
