body {
  margin: 0px;
  background-color: #0e1420;
  color:#ebedee;
}

footer{
  background-color: #D7331D;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a{
  margin: 2px;
  color: white;
}

nav{
  background-color: #4b0794;
}

.textcolor{
  color: white;
}

.media{
  margin-top: 25px;
  border: 0.2px solid white;
  padding: 18px;
  padding-top: 10px;
}

.media div p{
  font-weight: 500;
}

.mycontent{
  padding-top: 20px;
  padding-bottom: 60px;
}


            /* ----- small screen devices -------- */

@media (max-width:550px){
  .media{
    overflow: auto;
  }
}
